@{
    ViewData["Title"] = "Contacts";
}
<h1>@ViewData["Title"]</h1>

<hr /><br />
<div class="row">
    <div class="col-md-6">
        <h4>Our Location</h4>
        <p>ul. Alabin 58</p>
    </div>
    <div class="col-md-6">
        <h4>Telephone</h4>
        <p>+3598 8713 158</p>
    </div>

</div>
