@model List<Order>
@{
    ViewData["Title"] = "Orders";
}

<h1>@ViewData["Title"]</h1>

@foreach (var order in Model)
{
    <div class="row">
        <div class="col-md-4"><span>Name: </span>@order.Item</div>

        <div class="col-md-4"><span>Brand: </span>@order.Brand</div>

        <button onclick="edit('@order.Id')" class="btn btn-danger">Edit</button>
    </div>

    <hr />
}

<div class="add-button-wrapper">
    <button onclick="addEvent()" class="btn btn-primary">Add order</button>
</div>

<div class="add-form-wrapper invisible">
    <form asp-controller="Home" asp-action="Add" method="post">
        <input type="text" name="orderName" placeholder="Item..." />
        <input type="text" name="brand" placeholder="Brand..." />

        <button type="submit" class="btn btn-primary">Add</button>
        <button type="button" onclick="cancelAdd()" class="btn btn-info">Cancel</button>
    </form>
</div>

<script>
    function cancelAdd(){
        var $button = $(".add-button-wrapper");
        var $form = $(".add-form-wrapper");

        $form.addClass("invisible");
        $button.removeClass("invisible");
    }

    function addEvent() {
        var $button = $(".add-button-wrapper");
        var $form = $(".add-form-wrapper");

        $button.addClass("invisible");
        $form.removeClass("invisible");
    }

    function edit(id) {
        window.location = "Home/Edit/" + id
    }
</script>