@model List<Order>
@{
    ViewData["Title"] = "Orders";
}

<h1>@ViewData["Title"]</h1>

@foreach (var order in Model)
{
    <div class="row">
        <div class="col-md-4"><span>Name: </span>@order.Item</div>

        <div class="col-md-4"><span>Brand: </span>@order.Brand</div>

        <button onclick="edit('@order.Id')" class="btn btn-success">Edit</button>
    </div>

    <hr />
}
